<h2>Meus Ingressos Comprados</h2>

{{#purchases}}
  <div>
    <h3>Ingresso: {{ticketName}}</h3>
    <p>Quantidade: {{quantity}}</p>
    <p>Total: R$ {{totalPrice}}</p>
  </div>
{{/purchases}}

{{^purchases}}
  <p>Você não comprou ingressos ainda.</p>
{{/purchases}}
